language: node_js
node_js:
- 0.8
branches:
  only:
  - master
env:
  global:
  - secure: HzuL2XZ1Sqmy6jYnAZhn3Ku/JibrvtX13o7LaMQyFtM+kUl7/4U9Es3oaX7PqTxWwvxeGNgcG9sryJyjPsedffamkH9tmRMzHsdQWkxnKz4BpaGyKgm5kP3Dn2lnOMaAwghrHcNeDwiZ6TpLceuePO4kR8gjHpI2OBrs1R5qlf4=
  - secure: b1Yhd9kgQ68eOKy004LJu7m0b0qObLDk0KJ4WhcTTvA+H3YrTQrUSlurHaFRj16FHqIdJqR/ALbINLJqArIKvZl0TbzZbhg3f/VfP1Nrvc524iuESck8E1WaIIbP1FZ1BPZMEn1CseS0NKervoI4oo5IUyyYoySW7T43v6PTAYc=
after_success: cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
